<% layout('layout/page') -%>

<div class='container'>
  <a href="/enter">
    <div class="enterBtn">
      <span>ВХОД</span>
    </div>
  </a>
  <div class="divider"></div>
  <a href="/register">
    <div class="registerBtn">
      <span>РЕГИСТРАЦИЯ</span>
    </div>
  </a>
</div>  