<% layout('layout/page') -%>

<div class='logoContainer'>

  <svg viewBox='0 0 100 100'>

    <g stroke-width="1px" stroke-linejoin="round" stroke-linecap="round">

          <path d="M10,20 L20,80 L50,70 L40,10 z" fill="transparent" stroke="#c2d49b"  />

          <path d="M27,17 L28,24 M25,20 L29.5,18.25" fill="transparent" stroke="#c2d49b" />


<path d="M20,40 L40,33" fill="transparent" stroke="#ffffff" />


          <path d="M70,50 L72,49 H90 V51 H72 z M90,51 H93 V49 H90 z" fill="#00515f" stroke="#c2d49b">

    <animate 

attributeType="XML" attributeName="d" 

values="M70,50 L72,49 H90 V51 H72 z M90,51 H93 V49 H90 z; M20,40 L22,39 H40 V41 H22 z M40,41 H43 V39 H40 z; 

M40,33 L42,32 H60 V34 H42 z M60,34 H63 V32 H60 z"

keyTimes="0; .6; 1"

dur="1.7s" 

begin="2.5s" 

fill="freeze"/>

</path>




<!-- ----candels----- -->



          <path d="M81,10 V50 M81,10 A 2 1 0 1 1 81 10.5 M85,50 V11 M83,10 V7" fill="transparent" stroke="#c2d49b"  />

          <path d="M83,1 Q83 4, 81 5 T 82 9 Q87 8, 84 4 z" fill="transparent" stroke="gold" >

<animate 

attributeType="XML" attributeName="d" 

values="M83,1 Q83 4, 81 5 T 82 9 Q87 8, 84 4 z; M83.5,.4 Q83 4, 81 5 T 82 9 Q87 8, 84 4 z; M83,1 Q83 4, 81 5 T 82 9 Q87 8, 84 4 z"

keyTimes="0; .5; 1"

dur="1.7s" 

repeatCount="10"/>

</path>


           <path d="M71,15 V49 M71,15 A 2 1 0 1 1 71 15.5 M75,55 V16 M73,15 V12" fill="transparent" stroke="#c2d49b"  />

          <path d="M73,6 Q73 9, 71 10 T 72 14 Q77 13, 74 9 z" fill="transparent" stroke="gold"  />



<!-- ----candels end----- -->

  </g>

      </svg>

  </div>

<main>

  <p class='welcome'>

    <span>добро пожаловать на сайт</span>

    <span>МОИ СИНОДИКИ</span>

  </p>


  <p>Здесь любой желающий может создать поминальные синодики и всегда иметь к ним доступ.</p>

  <p>Молитва друг за друга всегда была и будет неотьемлемой частью духовной жизни православного христианина.</p>

  <p>"Отче наш" мы читаем в молитве Господней и уже не в одиночку, но соборно молимся: в нашу молитву вводим и всю Церковь.</p>

  <p>В Священном Писании мы находим множество призывов молиться друг за друга. Причем призваны поминать не только тех, с кем мы в добрых отношениях, но и врагов:</p>

  <p class='quote'>"А Я говорю вам <...> благотворите ненавидящим вас и молитесь за обижающих вас и гонящих вас" <span class='author'>(Мф. 5:44)</span></p>

  <p>Призваны молиться за власть:</p>

  <p class='quote'>"Творите молитвы за царя и за всех, иже во власти суть, да тихое и безмолвное житие поживем во всяком благочестии и чистоте" <span class='author'>(1Тим. 2:2)</span></p>

  <p>За духовных отцов:</p>

  <p class='quote'>"Поминайте наставников ваших <...> Молитесь о нас." <span class='author'>(Евр.13:7-18)</span></p>

  <p>Посредством молитвы достигать желаемого:</p>

  <p class='quote'>"...молитесь друг за друга, чтобы исцелиться: много

может усиленная молитва праведного." <span class='author'>(Иак.5:16)</span></p>

  <p>Словами не всегда удается объясниться с ближними, а молитва всегда подходит:</p>

  <p class='quote'>"Молитва друг за друга есть лучшее общение" <span class='author'>святитель Филарет Московский</span></p>

  <p class='quote'>"На ближних сильнее действует молитва о них, нежели слово к ним: потому что молитва вводит в действие самого всесильного Бога, и Бог творит с созданием Своим все, что Ему благоугодно" <span class='author'>святитель Игнатий Брянчанинов</span></p>

  <p>Иногда просят помолиться за кого-то и наш духовный долг сделать это:</p>

  <p class='quote'>"...и о просящем хорошо помолиться. Евангельское и Апостольское слово говорит: всякому просящему у тебе дай (Лк. 6:30) <...> и еще: якоже хощете да творят вам человецы, и вы творите им такожде (Лк. 6:31)" <span class='author'>преподобный Варсонофий Великий</span></p>

  

  <p class='quote'>"За себя самого молиться нужда и беда убеждает, но за ближнего молиться убеждает любовь" <span class='author'>святитель Тихон Задонский</span></p>

 


<!-- ----------------

  <p class='quote'>"Подражай Богу. Если Он хочет, чтобы все люди спаслись, то очевидно, что обо всех нужно и молиться; если Он пожелал, чтобы все спаслись, то и ты пожелай того же, а если желаешь этого, то молись" <span class='author'>святитель Иоанн Златоуст</span></p>


----------------- -->


<p>Современные мобильные устройства позволяют быстро и удобно создавать и надежно хранить информацию. С их помощью мы, например, легко можем вспомнить когда и у кого именины или годовщина.</p>

<p>На нашем сайте можно создать синодик "О ЗДРАВИИ" или "О УПОКОЕНИИ"; указать дни рождения, именин или смерти человека и многое другое.</p>

<p>Чтобы создавать синодики необходимо <span class='linkToRegModal'>зарегистрироваться</span></p>


</main>