<% layout('layout/page') -%>

<!-- preloader starts -->

  

<div id='preloader'>

    <p class='preloader-text'>'Молитва друг о друге есть лучшее из общений'</br></br><em class='preloader-text-athor'>свят. Филарет Московский</em>
  
    </p>
  
    <span class='btn'>продолжить</span>
  
   </div>
  
  
  
  <!-- preloader finished -->
  
  
   <div class='container'>
  
    <p>  Чтобы создавать и просматривать синодики необходимо войти в учетную запись или зарегистрироваться:</p>
  

    <a href="/enter"><div class="enterBtn"><span>ВХОД</span></div></a>
    <div class="divider"></div>
    <a href="/register"><div class="registerBtn"><span>РЕГИСТРАЦИЯ</span></div></a>
  



<!--
  <form id='regForm' action='/api/users' method='post'>
  
    <p>
  
      <label>Имя</label>
  
      <input id='nameInput' type='text' name='name' required />
  
    </p>
  
  
    <p>
  
      <label>Email</label>
  
      <input type='email' name='email' required />
  
    </p>
  
  
    <p>
  
      <label>Пароль</label>
  
      <input type='password' name='password' required />
  
    </p>
  
   
  
    <p>
  
      <button class='formBtn'>создать запись</button>
  
    </p>
  
  </form>
-->

  
  
  
  
  <!-- info-circle example 
  
  
  <div class='infoCircle'>
  
    <div class='infoCircle-fon'></div>
  
     <div class='infoCircle-mark'>
  
       
  
     </div>
  
  </div>
  
  
  info-circle example end -->
  
  
  
  
  
  </div>  