<% layout('layout/page') -%>

<div class='logoContainer'>

  <svg viewBox='0 0 200 200'>

    <g stroke-width=".3px" stroke-linejoin="round" fill="#00515f" stroke="#ffffff" >



          <path d="

M55,197 H7 V140 H193 V197 H145z


M55,140 V90 H145 V140 z


M55,90 V83 H145 V90 z


M61,140 L60,191 H66 L65,140 z

M75.43,140 L74.43,191 H80.43 L79.43,140 z

M89.86,140 L88.86,191 H94.86 L93.86,140 z

M104.29,140 L103.29,191 H109.29 L108.29,140 z

M118.72,140 L117.72,191 H123.72 L122.72,140 z

M139,140 L140,191 H134 L135,140 z

" />


<!-- -----pillars start---- -->


          <path d="

M55,140 V90 H59 V140 z

M63,140 V90 H67 V140 z

M69,125 V95 H73 V125 z

M73,140 V90 H77 V140 z

M84.5,140 V90 H88.5 V140 z


M145,140 V90 H141 V140 z

M137,140 V90 H133 V140 z

M131,125 V95 H127 V125 z

M127,140 V90 H123 V140 z

M115.5,140 V90 H111.5 V140 z

" />

          

<!-- -----pillars end------ -->




          <path d="

M55,196 H145 V198.5 H55 z 

M60,191 H140 V193.5 H60 z

M57.5,193.5 H142.5 V196 H57.5 z


M7,140 V135 H193 V140 z


M83,135 V110 H117 V135

M18,135 V110 H52 V135

M182,135 V110 H148 V135


" />


          <path d="M60,140 L100,130 L140,140 z" />


<!-- -----windows start---- -->


          <path d="M30,180 V160 A 5 5 0 0 1 40,160 V180 z M25,165 V160 A 10 10 0 0 1 45,160 V165 M35,180 V155 M30,173 H40 M30,163 H40 M170,180 V160 A 5 5 0 0 0 160,160 V180 z M175,165 V160 A 10 10 0 0 0 155,160 V165 M165,180 V155 M170,173 H160 M160,163 H170" />

          

<!-- -----windows end------ -->




<!-- -----bigDomes start---- -->


          <path d="M18,110 H52 A 12 16 0 0 0 18,110 

M182,110 H148 A 12 16 0 0 1 182,110 

M83,110 H117 A 12 16 0 0 0 83,110 


M55,83 H145 A 45 53 0 0 0 55,83

M100,30 A 40 50 0 0 0 60,75

M100,30 A 40 50 0 0 1 140,75

M100,25 A 40 70 0 0 0 90,75

M100,25 A 40 70 0 0 1 110,75

M100,25 A 40 60 0 0 0 80,75

M100,25 A 40 60 0 0 1 120,75

" />

          

<!-- -----bigDomes end------ -->


 

<!-- -----littleDomes start---- -->


          <path d="M31,88 H39 V78 H31 z M31,78 A 4 5 0 0 1 39,78 M35,73 V67 M33,69 H37


M96,88 H104 V78 H96 z M96,78 A 4 5 0 0 1 104,78 M100,73 V67 M98,69 H102


M169,88 H161 V78 H169 z M169,78 A 4 5 0 0 0 161,78 M165,73 V67 M167,69 H163


M93,31 H107 V18 H93 z M93,18 A 7 8 0 0 1 107,18 M100,10 V1 M97,4 H103


" />

          

<!-- -----littleDomes end------ -->



<!-- -----windowsForMiddleDoms start---- -->


          <path d="M32,135 V120 A 3 3 0 0 1 38,120 V135 z

M21,135 V120 A 2.5 3 0 0 1 26,120 V135 z

M44,135 V120 A 2.5 3 0 0 1 49,120 V135 z


M97,135 V120 A 3 3 0 0 1 103,120 V135 z

M86,135 V120 A 2.5 3 0 0 1 91,120 V135 z

M109,135 V120 A 2.5 3 0 0 1 114,120 V135 z


M162,135 V120 A 3 3 0 0 1 168,120 V135 z

M151,135 V120 A 2.5 3 0 0 1 156,120 V135 z

M174,135 V120 A 2.5 3 0 0 1 179,120 V135 z


" />

          

<!-- -----windowsForMiddleDoms end------ -->

<path d="M56,140 L100,128 L144,140 z

M68,138.5 L100,130 L132,138.5 z

"  />

          

  </g>

      </svg>

  </div>

<main>

  <p class='welcome'>

    <span>добро пожаловать на сайт</span>

    <span>МОИ СИНОДИКИ</span>

  </p>


  <p>Здесь любой желающий может создать поминальные синодики и всегда иметь к ним доступ.</p>

  <p>Молитва друг за друга всегда была и будет неотьемлемой частью духовной жизни православного христианина.</p>

  <p>"Отче наш" мы читаем в молитве Господней и уже не в одиночку, но соборно молимся: в нашу молитву вводим и всю Церковь.</p>

  <p>В Священном Писании мы находим множество призывов молиться друг за друга. Причем призваны поминать не только тех, с кем мы в добрых отношениях, но и врагов:</p>

  <p class='quote'>"А Я говорю вам <...> благотворите ненавидящим вас и молитесь за обижающих вас и гонящих вас" <span class='author'>(Мф. 5:44)</span></p>

  <p>Призваны молиться за власть:</p>

  <p class='quote'>"Творите молитвы за царя и за всех, иже во власти суть, да тихое и безмолвное житие поживем во всяком благочестии и чистоте" <span class='author'>(1Тим. 2:2)</span></p>

  <p>За духовных отцов:</p>

  <p class='quote'>"Поминайте наставников ваших <...> Молитесь о нас." <span class='author'>(Евр.13:7-18)</span></p>

  <p>Посредством молитвы бороться с болезнями:</p>

  <p class='quote'>"...молитесь друг за друга, чтобы исцелиться: много

может усиленная молитва праведного." <span class='author'>(Иак.5:16)</span></p>

  <p>Словами не всегда удается объясниться с ближними, а молитва всегда подходит:</p>

  <p class='quote'>"Молитва друг за друга есть лучшее общение" <span class='author'>святитель Филарет Московский</span></p>

  <p class='quote'>"На ближних сильнее действует молитва о них, нежели слово к ним: потому что молитва вводит в действие самого всесильного Бога, и Бог творит с созданием Своим все, что Ему благоугодно" <span class='author'>святитель Игнатий Брянчанинов</span></p>

  <p>Иногда просят помолиться за кого-то и наш духовный долг сделать это:</p>

  <p class='quote'>"...и о просящем хорошо помолиться. Евангельское и Апостольское слово говорит: всякому просящему у тебе дай (Лк. 6:30) <...> и еще: якоже хощете да творят вам человецы, и вы творите им такожде (Лк. 6:31)" <span class='author'>преподобный Варсонофий Великий</span></p>

  

  <p class='quote'>"За себя самого молиться нужда и беда убеждает, но за ближнего молиться убеждает любовь" <span class='author'>святитель Тихон Задонский</span></p>

 


<!-- ----------------

  <p class='quote'>"Подражай Богу. Если Он хочет, чтобы все люди спаслись, то очевидно, что обо всех нужно и молиться; если Он пожелал, чтобы все спаслись, то и ты пожелай того же, а если желаешь этого, то молись" <span class='author'>святитель Иоанн Златоуст</span></p>


----------------- -->

<div class='divider'></div>


<div class="mainIphHolder">


<div class="iphoneHolder">


<svg id='iPhoneXSVG' viewBox='0 0 200 200'>


    <g stroke-width=".3px" stroke-linejoin="round" fill="#00515f" stroke="#ffffff" >


<!-- ---iPhoneX starts---- -->



<path d="M128,10 H140 A 10 10 0 0 1 150,20 V188 A 10 10 0 0 1 140,198 H60 A 10 10 0 0 1 50,188 V20 A 10 10 0 0 1 60,10 z


M128,13 H139 A 8 8 0 0 1 147,21 V187 A 8 8 0 0 1 139,195 H61 A 8 8 0 0 1 53,187 V21 A 8 8 0 0 1 61,13 H73 A 3 3 0 0 1 76,16 A 6 6 0 0 0 82,22 H118 A 6 6 0 0 0 124,16 A 3 3 0 0 1 127, 13 z

"/>



<path d="

M100,15 H109 A 1.5 1.5 0 0 1 109,18 H91 A 1.5 1.5 0 0 1 91,15 z

"  />


<path d="M113.5,15 A 1.5 1.5 0 0 0 116.5,18" />

<path d="M113.5,15 A 1.5 1.5 0 0 1 116.5,18" />


<!-- ---iPhoneX ended---- -->





<!-- ---names starts -->


<text x="68" y="60" class="iphoneText" fill="#ffffff">патр. Кирилла


<animate id="firstName"

attributeType="XML" attributeName="y" 

values="60; 200"

keyTimes="0; 1"

dur="5s" 

begin="playStart.begin"

fill="freeze"/>


<animate attributeType="CSS" attributeName="opacity" 

values="0; 0; 1; 1; 0; 0"

keyTimes="0; .15; .2; .5; .55; 1"

dur="5s" 

begin="playStart.begin" 

fill="freeze"/>

</text>



<text x="58" y="60" class="iphoneText" fill="#ffffff">митр. Варсонофия


<animate id="secondName"

attributeType="XML" attributeName="y" 

values="60; 200"

keyTimes="0; 1"

dur="5s" 

begin="firstName.begin + 1.8s"

fill="freeze"/>


<animate attributeType="CSS" attributeName="opacity" 

values="0; 0; 1; 1; 0; 0"

keyTimes="0; .15; .2; .5; .55; 1"

dur="5s" 

begin="firstName.begin + 1.8s" 

fill="freeze"/>

</text>



<text x="62" y="60" class="iphoneText" fill="#ffffff">археп. Амвросия


<animate id="thirdName"

attributeType="XML" attributeName="y" 

values="60; 200"

keyTimes="0; 1"

dur="5s" 

begin="secondName.begin + 1.8s"

fill="freeze"/>


<animate attributeType="CSS" attributeName="opacity" 

values="0; 0; 1; 1; 0; 0"

keyTimes="0; .15; .2; .5; .55; 1"

dur="5s" 

begin="secondName.begin + 1.8s" 

fill="freeze"/>

</text>



<text x="68" y="60" class="iphoneText" fill="#ffffff">архм. Никиты


<animate id="lastName"

attributeType="XML" attributeName="y" 

values="60; 200"

keyTimes="0; 1"

dur="5s" 

begin="thirdName.begin + 1.8s"

fill="freeze"/>


<animate attributeType="CSS" attributeName="opacity" 

values="0; 0; 1; 1; 0; 0"

keyTimes="0; .15; .2; .5; .55; 1"

dur="5s" 

begin="thirdName.begin + 1.8s" 

fill="freeze"/>

</text>





<!-- -----names ended--- -->



<!-- ---play/pause starts--- -->

          

<path d="

M95,190 L105,185 L95,180 L95,185z

M96,188 L103,185 L96,182 L96,185z

" stroke="#c2d49b">

<animate 

id="playStart"

attributeType="XML" attributeName="d" 

values="M95,190 L105,185 L95,180 L95,185z

M96,188 L103,185 L96,182 L96,185z;

M95,190 L99,190 L99,180 L95,180z

M101,190 L105,190 L105,180 L101,180z"

keyTimes="0;1"

dur=".3s" 

begin="click"

fill="freeze"

/>


<animate 

id="playEnd"

attributeType="XML" attributeName="d" 

values="

M95,190 L99,190 L99,180 L95,180z

M101,190 L105,190 L105,180 L101,180z;

M95,190 L105,185 L95,180 L95,185z

M96,188 L103,185 L96,182 L96,185z"

keyTimes="0;1"

dur=".3s" 

begin="lastName.end-2s"

fill="freeze"/>


</path>


<!-- ---play/pause ended--- -->

          


  </g>

      </svg>


<svg viewBox='0 0 200 200'>


    <g stroke-width=".3px" stroke-linejoin="round" fill="#00515f" stroke="#ffffff" >

  <path d="M50,198 H45 V10 H50 z" />

</g>

</svg>


</div>

</div>




<p>Современные мобильные устройства позволяют быстро и удобно создавать и надежно хранить информацию. С их помощью мы, например, легко можем вспомнить когда и у кого именины или годовщина.</p>

<p>На нашем сайте можно создать синодик "О ЗДРАВИИ" или "О УПОКОЕНИИ"; указать дни рождения, именин или смерти человека и многое другое.</p>

<p>Чтобы создавать синодики необходимо <span class='linkToRegModal'>зарегистрироваться</span></p>


</main>

<footer>

    <div class='logoAsBackground'>
  
      <svg width='100vw' viewBox='0 0 100 100'>
      
        <g fill="transparent" stroke="rgba(45,45,45,.1)" stroke-width="2px" stroke-linejoin="round" stroke-linecap="round">
      
                <path d="M49.75,90.5 A 40.5 40.5 0 1 1 50 90.5" />
      
                <path d="M48,20 V25 H43 M43,29 H48 V34 H26 M26,38 H48 V63 L43,60 M43,65 L48,68 V86 A 36 36 0 1 1 52 86 V69.5 L57,72.5 M57,67.5 L52,64.5 V38 H74 M74,34 H52 V29 H57 M57,25 H52 V20" />
      
              </g>
      
            </svg>
      
          </div>
      
          <div class='footerLinksHolder'>
      
        <span class='footerTitle'>МОИ СИНОДИКИ</span>
      
         <svg width='140' viewBox='0 0 140 20'>
      
        <g fill="transparent" stroke="#c2d49b" stroke-width="1px" stroke-linejoin="round" stroke-linecap="round">
      
                <path d="M5,10 H135" />
      
              </g>
      
            </svg>
      
      <span class='footerItem footerRegLink'>РЕГИСТРАЦИЯ</span>
      
      <span class='footerItem footerEnterLink'>ВХОД</span>
      
      <span class='footerConnect'>обратная связь: aleksandrbartov@yandex.ru</span>
      
      </div>
  
  </footer>

<script src="scripts/main.js"></script>