<% layout('layout/page') -%>

<div class="container">
    <p>поздравляем <%= name %> вы создали нового пользователя и теперь можете создавать и просматривать синодики</p>
    <a href="/users/me">создать синодик</a>
</div>