html {

  box-sizing: border-box;

  height: 100%;

  min-height: 100%;

}


*,

*:after,

*:before {

  box-sizing: inherit;

}

        

* {

  // border: 1px solid snow;

  margin: 0;

  padding: 0;

}



body {

  //opacity: 0;

  

  background: #00515f;

  //border: 2px solid red;

  min-height: 100%;

  font-family: AvenirNext-Regular;

  display: flex;

  flex-direction: column;

  align-items: center;

  overflow: hidden;

  transition: opacity 1.6s cubic-bezier(0.19, 1, 0.22, 1);

}


p {

  opacity: 0;

  font-size: 1.1rem;

  margin: 15px 20px;

  color: #ffffff;

  text-align: justify;

  text-indent: 25px;

  transform: translateY(120%);

  transition: all 2.6s cubic-bezier(0.19, 1, 0.22, 1);

}




.divider {

  margin: 60px 0;

  width: 100%;

  border-bottom: 10px solid rgba(45,45,45,.1);

}



.aboutSinodiks {

  width: 100%;

  position: relative;

  margin: 100px 0 30px 0;

  //border: 1px solid snow;

}


.aboutSinodiks p{

  opacity: 1;

  color: #c2d49b;

  //margin: 0;

  //padding: 0;

  transform: translateY(0%);

}


.twoCardsHolder {

  width: 100%;

  background: rgba(45,45,45,.1);

  height: 70vh;

  position: relative;

  margin: 10px 0 10px 0;

  //border: 1px solid snow;

  overflow-x: hidden;

  overflow-y: hidden;

  perspective: 600px;

  transform-style: preserve-3d;

}


.twoCardsHolder div {

  transform-style: inherit;

  background: #00515f;

  width: 50vw;

  height: 50vh;

  border: 1px solid #ffffff;

  border-radius: 5px;

  position: absolute;

  top: 50%;

  left: 50%;

  box-shadow: 0 0 20px rgba(0,0,0,.4);

  transition: transform 2s cubic-bezier(0.19, 1, 0.22, 1);

}


.oZdravii {

  transform: translateX(-50%) translateY(-50%) translateZ(0px);

  z-index: 400;

  filter: blur(0);

}



.oUpokoenii {

  transform: translateX(70%) translateY(-50%) translateZ(-150px);

  z-index: 380;

  filter: blur(1px);

}


.hideCards {

  filter: blur(3px);

  transform: translateX(180%) translateY(-50%) translateZ(-250px);

}



.active {

  opacity: 1;

  transform: translateY(0);

}


.quote {

  font-family: Georgia-BoldItalic;

  line-height: 1.4;

  font-size: 1rem;

  margin-left: 30px;

  border-left: 4px solid #c2d49b;

  padding-left: 20px;

  text-align: left;

  text-indent: 8px;

}


.greetingModal {

  //opacity: 0;

  background: #ffffff;

  position: fixed;

  z-index: 250;

  width: 80vw;

  height: 80vh;

  top: 50%;

  left: 50%;

  text-align: center;

  transform: translate(-50%, -50%) scale(0);

  border-radius: 5px;

  transition: all .6s cubic-bezier(0.19, 1, 0.22, 1);

}


.greetingModal-opened {

  //opacity: 1;

  filter: blur(0px);

  transform: translate(-50%, -50%) scale(1);

}


.greetingModal > div {

  position: relative;

  //border: 1px solid black;

  margin: 0;

  padding: 0;

}


.greetingModal div:nth-child(1) {

  height: 20%;

  float: right;

}


.greetingModal div:nth-child(2) {

  height: 60%;

  padding: 20px;

  font-size: 1.4rem;

  clear: both;

}


.greetingModal div:nth-child(3) span {

  padding: 1px 25px;

  border: 2px solid #00515f;

  font-size: 1.4rem;

  border-radius: 5px;

}


header {

  z-index: 100;

  font-weight: 700;

  position: fixed;

  width: 100%;

  height: 70px;

  text-align: center;

  flex: 1 0 auto;

  align-items: center;

  display: flex;

  font-size: .8rem;

  justify-content: space-between;

  background-color: #00515f;

  color: #c2d49b;

  box-shadow: 0 0 20px rgba(0,0,0,.4);

}


header > * {

  //display: flex;

  width: 70px;

  height: 70px;

  position: relative;

  //border: 1px solid #ffffff;

}



.userTitleName > *{

  font-size: 1.4rem;

  position: absolute;

  transform: translateX(-50%) translateY(65%);

}



footer {

  position: relative;

  height: 100vh;

  width: 100%;

  margin-top: 40px;

  border-top: 10px solid rgba(45,45,45,.1);

  //background: #EBE5D6;

}



.footerLinksHolder {

  position: absolute;

  text-align: center;

  padding: 80px 20px;

}


.footerTitle {

  color: #ffffff;

  font-size: 1.6rem;

}


.footerItem {

  display: block;

  color: #c2d49b;

  border: 1px solid #c2d49b;

  font-size: 1.6rem;

  font-family: AvenirNext-DemiBold;

  margin-top: 35px;

  padding: 5px 20px;

  border-radius: 5px;

}


.footerConnect {

  display: block;

  font-size: 1.2rem;

  font-family: AvenirNext-DemiBold;

  margin-top: 35px;

  color: #ffffff;

}



.sandwich {

  z-index: 101;

}


.sandwich_item {

  width: 40%;

  height: 1px;

  border-radius: 1px;

  background: #c2d49b;

  transform: translate(-50%, -50%);

  position: absolute;

  transform-origin: 23.5%;

  left: 50%;

  transition: all 0.4s cubic-bezier(0.175, 0.885, 0.32, 1.275);

  z-index: 102;

}


.sandwich_item_1 {

  top: 42%;

}


.sandwich_item_2 {

  top: 50%;

}


.sandwich_item_3 {

  top: 58%;

}


.opened_0 {

  transform: translate(-50%, -50%) rotate(45deg);

  background: #00515f;

  z-index: 103;

}


.opened_1 {

  width: 0px;

  opacity: 0;

}


.opened_2 {

  transform: translate(-50%, -50%) rotate(-45deg);

  background: #00515f;

  z-index: 103;

}



.hiddenMenu {

  z-index: 99;

  position: fixed;

  top: 0;

  left: 0;

  right: 0;

  bottom: 0;

  width: 100%;

  height: 100%;

  transform: translateY(100%);

  transition: all 0.5s cubic-bezier(0.95, 0.05, 0.795, 0.035);

  background-color: #EBE5D6;

}


.openedMenu {

  transform: translateY(0%);

}



.hiddenRoom, .hiddenEnter {

  z-index: 150;

  position: fixed;

  top: 0;

  left: 0;

  right: 0;

  bottom: 0;

  width: 100%;

  height: 100%;

  transform: translateX(120%);

  transition: all 0.5s cubic-bezier(0.95, 0.05, 0.795, 0.035);

  background-color: #EBE5D6;

}



.openedRoom {

  transform: translateX(0%);

}


.registerHeaderTitle {

  width: 100%;

  height: 70px;

  position: relative;

  text-align: left;

  //color: #EBE5D6;

}


.registerHeaderTitle span {

  position: absolute;

  top: 50%;

  left: 50%;

  transform: translate(-50%, -50%);

  font-size: 1.6rem;

  font-family: AvenirNext-DemiBold;

}



.logoAsBackground {

  z-index: -1;

  position: absolute;

  top: 50%;

  left: 50%;

  transform: translate(-50%, -50%);

}


.registerFormHolder {

  text-align: center;

  position: absolute;

  top: 50%;

  left: 50%;

  transform: translate(-50%, -50%);

}


.registerFormHolder input{

  color: #00515f;

  font-size: 1.7rem;

  border: none;

  text-align: center;

  margin: 5px 0;

  background: transparent;

  font-weight: 800;

}


.registerFormHolder button{

  color: #ffffff;

  font-size: 1.6rem;

  font-family: AvenirNext-DemiBold;

  border: none;

  text-align: center;

  margin-top: 35px;

  background: #00515f;

  padding: 5px 20px;

  border-radius: 5px;

  box-shadow: 0 0 10px rgba(0,0,0,.4);

}



.areYouRegistred {

  font-size: .8rem;

  margin-bottom: 30px;

  color:  #00515f;

  position: absolute;

  bottom: 0;

  transform: translateX(-50%);

  left: 50%;

  width: 100%;

}


.areYouRegistred span {

  padding: 5px;

  border: 2px solid #00515f;

  font-size: 1.2rem;

  border-radius: 5px;

}


.hiddenFormItem {

  transform: translateY(100%) scale(.9);

  opacity: 0;

  transition: all 0.1s;

}



.hiddenMenu-links-holder {

  color: #00515f;

  position: relative;

  width: auto;

  height: auto;

  transform: translate(-50%, -50%);

  top: 50%;

  left: 50%;

}


.hiddenMenu-link {

  display: block;

  margin: 10px 0;

  font-size: 1.8rem;

  transform: translateY(100%) scale(.9);

  opacity: 0;

  transition: all 0.1s;

}


.linkToView {

  transform: translateY(0%) scale(1);

  opacity: 1;

}


.logoContainer svg path:nth-child(1) {

  stroke-dasharray: 1632.12;

  stroke-dashoffset: 1632.12;

  animation: line-anim 3s cubic-bezier(0.445, 0.05, 0.55, 0.95) forwards .8s;

}


.logoContainer svg path:nth-child(2) {

  stroke-dasharray: 1000;

  stroke-dashoffset: 1000;

  animation: line-anim 3s cubic-bezier(0.445, 0.05, 0.55, 0.95) forwards .8s;

}


.logoContainer svg path:nth-child(3) {

  stroke-dasharray: 1159;

  stroke-dashoffset: 1159;

  animation: line-anim 4.5s cubic-bezier(0.445, 0.05, 0.55, 0.95) forwards .8s;

}


.logoContainer svg path:nth-child(4) {

  stroke-dasharray: 162.5;

  stroke-dashoffset: 162.5;

  animation: line-anim 4.9s cubic-bezier(0.445, 0.05, 0.55, 0.95) forwards .8s;

}


.logoContainer svg path:nth-child(5) {

  stroke-dasharray: 304.3;

  stroke-dashoffset: 304.3;

  animation: line-anim 3.1s cubic-bezier(0.445, 0.05, 0.55, 0.95) forwards .8s;

}


.logoContainer svg path:nth-child(6) {

  stroke-dasharray: 880.1;

  stroke-dashoffset: 880.1;

  animation: line-anim 4.1s cubic-bezier(0.445, 0.05, 0.55, 0.95) forwards .8s;

}


.logoContainer svg path:nth-child(7) {

  stroke-dasharray: 273.14;

  stroke-dashoffset: 273.14;

  animation: line-anim 3.1s cubic-bezier(0.445, 0.05, 0.55, 0.95) forwards .8s;

}


.logoContainer svg path:nth-child(8) {

  stroke-dasharray: 398.23;

  stroke-dashoffset: 398.23;

  animation: line-anim 3.1s cubic-bezier(0.445, 0.05, 0.55, 0.95) forwards .8s;

}


.logoContainer svg path:nth-child(9) {

  stroke-dasharray: 309.43;

  stroke-dashoffset: 309.43;

  animation: line-anim 3.1s cubic-bezier(0.445, 0.05, 0.55, 0.95) forwards .8s;

}


.logoContainer {

  margin-top: 160px;

  width: 90%;

}



#iPhoneXSVG path:nth-child(1) {

  stroke-dasharray: 558.84;

  stroke-dashoffset: 558.84;

}


#iPhoneXSVG path:nth-child(2) {

  stroke-dasharray: 548.55;

  stroke-dashoffset: 548.55;

}


#iPhoneXSVG path:nth-child(3) {

  stroke-dasharray: 45.43;

  stroke-dashoffset: 45.43;

}


#iPhoneXSVG path:nth-child(4) {

  stroke-dasharray: 53.6;

  stroke-dashoffset: 53.6;

}



.welcome {

  text-align: center;

  text-indent: 0px;

  font-size: 1.4rem;

  margin-bottom: 40px;

}


.welcome span {

  display: block;

}


.welcome span:last-child {

  font-size: 1.8rem;

  color: #c2d49b;

  font-weight: 800;

}


.author, .linkToRegModal {

  color: #c2d49b;

}




.mainIphHolder {

  overflow-x: hidden;

  perspective: 600px;

  transform-style: preserve-3d;

}



.iphoneHolder {

  position: relative;

  height: 320px;

  transform-style: inherit;

  transform: translateZ(-50px) rotateY(45deg) rotateX(30deg);

}


.iphoneShow {

  animation: line-anim 3.1s cubic-bezier(0.445, 0.05, 0.55, 0.95) forwards;

}



.iphoneHolder svg:nth-child(1) {

  position: absolute;

}


.iphoneHolder svg:nth-child(2) {

  position: absolute;

  transform-origin: 100% 0;

  transform: rotateY(-90deg);

}




.iphoneText {

  font-size: .6rem;

  opacity: 0;

}







@keyframes line-anim {

  to {

    stroke-dashoffset: 0;

  }

}