html {

  box-sizing: border-box;

  height: 100%;

  min-height: 100%;

}


*,

*:after,

*:before {

  box-sizing: inherit;

}

        

* {

  // border: 1px solid snow;

  margin: 0;

  padding: 0;

}



body {

  //opacity: 0;

  background: #00515f;

  height: 100%;

  font-family: AvenirNext-Regular;

  display: flex;

  flex-direction: column;

  align-items: center;

  overflow: hidden;

  transition: opacity 1.6s cubic-bezier(0.19, 1, 0.22, 1);

}


p {

  opacity: 0;

  margin: 15px 20px;

  color: #ffffff;

  text-align: justify;

  text-indent: 25px;

  transform: translateY(120%);

  transition: all 2.6s cubic-bezier(0.19, 1, 0.22, 1);

}


.active {

  opacity: 1;

  transform: translateY(10%);

}


header {

  z-index: 100;

  font-weight: 700;

  position: fixed;

  width: 100%;

  height: 70px;

  text-align: center;

  flex: 1 0 auto;

  align-items: center;

  display: flex;

  font-size: .8rem;

  justify-content: space-between;

  background-color: #00515f;

  color: #c2d49b;

  box-shadow: 0 0 20px rgba(0,0,0,.4);

}


header > * {

  //display: flex;

  width: 70px;

  height: 70px;

  position: relative;

  //border: 1px solid #ffffff;

}


.sandwich {

  z-index: 101;

}


.sandwich_item {

  width: 40%;

  height: 1px;

  border-radius: 1px;

  background: #c2d49b;

  transform: translate(-50%, -50%);

  position: absolute;

  transform-origin: 23.5%;

  left: 50%;

  transition: all 0.4s cubic-bezier(0.175, 0.885, 0.32, 1.275);

}


.sandwich_item_1 {

  top: 42%;

}


.sandwich_item_2 {

  top: 50%;

}


.sandwich_item_3 {

  top: 58%;

}


.opened_0 {

  transform: translate(-50%, -50%) rotate(45deg);

  background: #00515f;

}


.opened_1 {

  width: 0px;

  opacity: 0;

}


.opened_2 {

  transform: translate(-50%, -50%) rotate(-45deg);

  background: #00515f;

}



.hiddenMenu {

  z-index: 99;

  position: fixed;

  top: 0;

  left: 0;

  right: 0;

  bottom: 0;

  width: 100vw;

  height: 100vh;

  transform: translateY(100%);

  transition: all 0.5s cubic-bezier(0.95, 0.05, 0.795, 0.035);

  background-color: #EBE5D6;

}


.openedMenu {

  transform: translateY(0%);

}



.hiddenMenu-links-holder {

  color: #00515f;

  position: relative;

  width: auto;

  height: auto;

  transform: translate(-50%, -50%);

  top: 50%;

  left: 50%;

}


.hiddenMenu-link {

  display: block;

  margin: 10px 0;

  font-size: 1.6rem;

  transform: translateY(100%) scale(.9);

  opacity: 0;

  transition: all 0.1s;

}


.linkToView {

  transform: translateY(0%) scale(1);

  opacity: 1;

}


.logoContainer svg path:nth-child(1) {

  stroke-dasharray: 185;

  stroke-dashoffset: 185;

  animation: line-anim 1s cubic-bezier(0.445, 0.05, 0.55, 0.95) forwards .8s;

}


.logoContainer svg path:nth-child(2) {

  stroke-dasharray: 12;

  stroke-dashoffset: 12;

  animation: line-anim 1s cubic-bezier(0.445, 0.05, 0.55, 0.95) forwards 1.8s;

}


.logoContainer svg path:nth-child(3) {

  stroke-dasharray: 21.2;

  stroke-dashoffset: 21.2;

  animation: line-anim .8s cubic-bezier(0.445, 0.05, 0.55, 0.95) forwards 3.5s;

}



.logoContainer svg path:nth-child(4) {

  stroke-dasharray: 52.5;

  stroke-dashoffset: 52.5;

  animation: line-anim 1.6s cubic-bezier(0.445, 0.05, 0.55, 0.95) forwards 1.8s;

}


.logoContainer svg path:nth-child(5) {

  stroke-dasharray: 91.2;

  stroke-dashoffset: 91.2;

  animation: line-anim 1s cubic-bezier(0.445, 0.05, 0.55, 0.95) forwards;

}


.logoContainer svg path:nth-child(6) {

  stroke-dasharray: 20;

  stroke-dashoffset: 20;

  animation: line-anim 1s cubic-bezier(0.445, 0.05, 0.55, 0.95) forwards .5s;

}


.logoContainer svg path:nth-child(7) {

  stroke-dasharray: 95;

  stroke-dashoffset: 95;

  animation: line-anim .8s cubic-bezier(0.445, 0.05, 0.55, 0.95) forwards 1.5s;

}



.logoContainer svg path:nth-child(8) {

  stroke-dasharray: 20;

  stroke-dashoffset: 20;

  animation: line-anim 1.6s cubic-bezier(0.445, 0.05, 0.55, 0.95) forwards .9s;

}



.logoContainer {

  margin-top: 180px;

  width: 70%;

}



.pattern {

  font-weight: 700;

  position: relative;

  width: 100%;

  height: 25vh

  text-align: center;

  flex: 1 0 auto;

  align-items: center;

  display: flex;

  font-size: 1.1rem;

  justify-content: center;

  background-color: #00515f;

  color: #ffffff;

}


@keyframes line-anim {

  to {

    stroke-dashoffset: 0;

  }

}