<footer>

    <input id='forPoints' value='points' hidden/>


    <div id='play'>

      <svg viewBox='0 0 20 20'>

          <polygon points="1,1 19,10 1,19" fill="#e4e1dc" stroke="#e4e1dc"/>

      </svg>

    </div>


    <div id='pause' hidden>

      <svg viewBox='0 0 20 20'>

          <polygon points="3,1 3,19 6,19 6,1" fill="#e4e1dc" stroke="#e4e1dc"/>

          <polygon points="17,1 17,19 14,19 14,1" fill="#e4e1dc" stroke="#e4e1dc"/>

      </svg>

    </div>


    <div id='reloadList'>

      <svg viewBox='0 0 25 25'>

          <polygon points="3,2 3,20 13,20 13,22 18,18 13,15 13,17 7,17 7,2" fill="#e4e1dc" stroke="#e4e1dc"/>

          <polygon points="24,20 24,2 14,2 14,0 9,4 14,7 14,5 20,5 20,20" fill="#e4e1dc" stroke="#e4e1dc"/>

      </svg>

    </div>

  </footer>