<footer>

  <div class='logoAsBackground'>

<svg width='100vw' viewBox='0 0 100 100'>

  <g fill="transparent" stroke="rgba(45,45,45,.1)" stroke-width="2px" stroke-linejoin="round" stroke-linecap="round">

          <path d="M49.75,90.5 A 40.5 40.5 0 1 1 50 90.5" />

          <path d="M48,20 V25 H43 M43,29 H48 V34 H26 M26,38 H48 V63 L43,60 M43,65 L48,68 V86 A 36 36 0 1 1 52 86 V69.5 L57,72.5 M57,67.5 L52,64.5 V38 H74 M74,34 H52 V29 H57 M57,25 H52 V20" />

        </g>

      </svg>

    </div>

    <div class='footerLinksHolder'>

  <span class='footerTitle'>МОИ СИНОДИКИ</span>

   <svg width='140' viewBox='0 0 140 20'>

  <g fill="transparent" stroke="#c2d49b" stroke-width="1px" stroke-linejoin="round" stroke-linecap="round">

          <path d="M5,10 H135" />

        </g>

      </svg>

<span class='footerItem'>РЕГИСТРАЦИЯ</span>

<span class='footerItem'>ВХОД</span>

<span class='footerConnect'>обратная связь: aleksandrbartov@yandex.ru</span>

</div>

    

</footer>