<div id='hiddenMenu' class='hiddenMenu'>

    <div id='startPray' class='hiddenMenuItem'>начать поминовение</div>

    <div id='newSinodik' class='hiddenMenuItem'>создать синодик</div>

    <div id='newName' class='hiddenMenuItem'>добавить имя</div>

    <div id='allSinodiks' class='hiddenMenuItem'>мои синодики</div>

  </div>


   <div id='hiddenList' class='hiddenList'></div>


  <header>

    

    <div id='sandwich'>

      <div class='sandwich sandwichTop'></div>

      <div class='sandwich sandwichMiddle'></div>

      <div class='sandwich sandwichBottom'></div>

    </div>

    

    <div id='logo'>СИНОДИК</div>


  </header>