<header>
    <div class='logoContainer'>
        <svg viewBox='0 0 100 100'>
            <path d="M48,20 V25 H43 V29 H48 V34 H26 V38 H48 V63 L43,60 V65 L48,68 V86 A 36 36 0 1 1 52 86 V69.5 L57,72.5 V67.5 L52,64.5 V38 H74 V34 H52 V29 H57 V25 H52 V20 z" fill="transparent" stroke="#A28A66" stroke-width="2px" stroke-linejoin="round" />
            <circle cx="50" cy="50" r="40" fill="transparent" stroke="#A28A66" stroke-width="2px" />
        </svg>
    </div>

    <div class='sandwich'>
        <svg viewBox='0 0 100 100'>
            <path d="M4,30 H96" fill="transparent" stroke="#A28A66" stroke-width="2px" stroke-linecap="round" />
            <path d="M4,46 H96" fill="transparent" stroke="#A28A66" stroke-width="2px" stroke-linecap="round" />
            <path d="M4,62 H96" fill="transparent" stroke="#A28A66" stroke-width="2px" stroke-linecap="round" />
        </svg>
    </div>

    <div class='personRoomIcon'>
            <svg viewBox='0 0 100 100'>
                    <path d="M23,80 A 26 24 0 1 1 77 80" fill="transparent" stroke="#A28A66" stroke-width="2px" stroke-linejoin="round" />
                    <circle cx="50" cy="50" r="40" fill="transparent" stroke="#A28A66" stroke-width="2px" />
                    <circle cx="50" cy="40" r="14" fill="transparent" stroke="#A28A66" stroke-width="2px" />
                </svg>
        </div>
</header>