<header>
    <!-- ----hiddenMenu-------- -->


<div class='hiddenMenu'>

    <div class='hiddenMenu-links-holder'>
   
     <span onclick='toHideAll()' class='hiddenMenu-link'>первая ссылка</span>
   
     <span class='hiddenMenu-link'>вторая ссылка</span>
   
     <span class='hiddenMenu-link'>третья ссылка</span>
   
     <span class='hiddenMenu-link'>четвертая ссылка</span>
   
   </div>
   
   </div>
   
   
   <!-- ----hiddenMenu end----- -->
   
   
   
   
       <div class='sandwich'>
   
        <div class='sandwich_item sandwich_item_1'></div>
   
        <div class='sandwich_item sandwich_item_2'></div>
   
        <div class='sandwich_item sandwich_item_3'></div>
   
       </div>
   
   
       <div class='logo'>
   
   <svg viewBox='0 0 100 100'>
   
     <g fill="transparent" stroke="#c2d49b" stroke-width="1px" stroke-linejoin="round" stroke-linecap="round">
   
             <path d="M49.75,90.5 A 40.5 40.5 0 1 1 50 90.5" />
   
             <path d="M48,20 V25 H43 M43,29 H48 V34 H26 M26,38 H48 V63 L43,60 M43,65 L48,68 V86 A 36 36 0 1 1 52 86 V69.5 L57,72.5 M57,67.5 L52,64.5 V38 H74 M74,34 H52 V29 H57 M57,25 H52 V20" />
   
           </g>
   
         </svg>
   
       </div>
   
   
   
       <div class='personRoom'>
   
         <svg viewBox='0 0 100 100'>
   
     <g fill="transparent" stroke="#c2d49b" stroke-width="1px" stroke-linejoin="round" stroke-linecap="round">
   
             <circle cx='50' cy='50' r='20' />
   
             <circle cx='50' cy='43' r='8' />
   
             <path d='M35,63A10 7 0 1 1 65,63' />
   
           </g>
   
         </svg>
   
       </div>
</header>