<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1, user-scalable=no" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>МОЙ СИНОДИК | +</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
</head>

<body>
    <%-partial('../partial/header')%>
    <%-body -%>
    <script src="/scripts/main.js"></script>
</body>

</html>